@import url(callout.css);

@font-face {
	font-family: "iAWriterDuoS";
	src: url(/src/fonts/iAWriterQuattroS-Regular.ttf);
}

@font-face {
	font-family: "JetBrainsMonoNerdFontMono";
	src: url(/src/fonts/JetBrainsMonoNerdFontMono-Regular.ttf);
}

:root {
	--font-interface-theme: iAWriterDuoS;
	--font-text-theme: iAWriterDuoS;
	--font-monospace-theme: JetBrainsMonoNerdFontMono;

	--dark-background: #131313;
	--light-backgrund: #ededed;
	--color-white: rgb(255, 255, 255);
	--color-cyan: #46e3f6;
	--color-purple: #998ef0;
	--color-red: #ef6484;
	--color-yellow: #fff635;
	--color-orange: #ff9b2f;
	--color-green: #7bf988;
	--color-gray: #9d989c;
}

body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 5px;
	--tab-radius-active: 8px 8px 0 0;
	--checkbox-radius: 3px;
	--toggle-radius: 10px;
	--toggle-thumb-radius: 10px;
	--slider-thumb-radius: 10px;
	--border-width: 2px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

/* .modal-content.vertical-tabs-container {
	border-radius: 30px;
} */

.modal .mod-settings mod-sidebar-layout {
	border-radius: 30px;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {
  --background-primary: #131313;
  --background-secondary: #131313;

  --dark-background: #131313;
  --light-backgrund: #ededed;
  --color-white: rgb(255, 255, 255);
  --color-cyan: #46e3f6;
  --color-purple: #998ef0;
  --color-red: #ef6484;
  --color-yellow: #fff635;
  --color-orange: #ff9b2f;
  --color-green: #7bf988;
  --color-gray: #9d989c;

  --code-normal: #fff;
  --code-comment: var(--color-gray);
  --code-function: var(--color-green);
  --code-important: var(--color-yellow);
  --code-keyword: var(--color-cyan);
}

.theme-light {
  --background-primary: #ededed;
  --background-secondary: #ededed;

  --dark-background: #131313;
  --light-backgrund: #ededed;
  --color-white: rgb(255, 255, 255);
  --color-cyan: #46e3f6;
  --color-purple: #998ef0;
  --color-red: #ef6484;
  --color-yellow: #fff635;
  --color-orange: #ff9b2f;
  --color-green: #7bf988;
  --color-gray: #9d989c;
}


/* ====== Callout ==================================== */

/* Customize callouts

CSS snippets and Community plugins can define custom callouts, or even overwrite the default configuration.

To define a custom callout, create the following CSS block:

.callout[data-callout="custom-question-type"] {
    --callout-color: 0, 0, 0;
    --callout-icon: lucide-alert-circle;
}

The value of the data-callout attribute is the type identifier you want to use, for example [!custom-question-type].

    --callout-color defines the background color using numbers (0–255) for red, green, and blue.
    --callout-icon can be an icon ID from [lucide.dev](https://lucide.dev/), or an SVG element. */


.callout {
	border-radius: 5px;
}

.callout[data-callout="book-marked"] {
    --callout-color: 232, 232, 232;
    --callout-icon: book-marked;
}

.callout[data-callout="image"] {
    --callout-color: 232, 232, 232;
    --callout-icon: image;
}

.callout[data-callout="note"] {
    --callout-color: 232, 232, 232;
    --callout-icon: sticky-note;
}

/* =====/ Callout ==================================== */



/* .multi-select-pill {
	background: rgba(155, 155, 155, 0.547);
	border-radius: 5px;
	padding: 0 10px;
} */

.multi-select-pill-remove-button {
	color: var(--font-text-theme);
}

.canvas-control-group{
	border: 0px solid;
}

.canvas-control-item {
	border: 0px solid;
	border-radius: 5px;
}

.canvas-node-content-blocker {
	border-radius: 10px;
}

.canvas-node.is-themed.is-focused.mod-canvas-color-1 {
	border-radius: 20px;
}
